{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.js",
          ".android.js",
          ".js",
          ".json",
          ".ios.tsx",
          ".android.tsx",
          ".tsx"
        ],
        "alias": {
          "Components": "./src/Components",
          "Containers": "./src/Containers",
          "Screens": "./src/Screens",
          "Utils": "./src/Utils"
        }
      }
    ]
  ]
}
